body{
    background:  grey;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header{
    background-color: rgb(221, 138, 99);
    color: white;
}

#navbar{
    background-color: black;
    color: #fff;
}

#navbar ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}
#showcase{
    background-image: url(../images/showcase.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    min-height: 100%;
    background-size: 100%;
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1{
    color: white;
    font: 50px;
    line-height: 1.6em;
    padding-top: 30px
}

#main{
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
}

#sidebar{
    float: right;
    width: 30%;
    background: black;
    color: white;
    padding: 10px;
    box-sizing: border-box;
}

#main-footer{
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media(max-width:600px
){
    #main{
        width: 100%;
        float: none;
    }
    #sidebar{
        width: 100%;
        float: none;
    }
}